button {
    background-color: #437ad3; /* blauw */
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#gewichtLabel {
  background-color: #437ad3; /* groen */
  border: 5px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
#gerbootejaartal {
  background-color: #437ad3; /* groen */
  border: 5px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
#lengtelabel {
  background-color: #437ad3; /* groen */
  border: 5px;
  color: white;
  padding: 10px 36.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
#genereer {
  background-color: #437ad3; /* blauw */
  border: 5px;
  color: white;
  padding: 30px 400px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#makers{
  background-color: red;
  border: 5px;
  color: white;
  padding: 10px 350px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

right{
  
}
