button {
    background-color: #437ad3; /* blauw */
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#rood {
  background-color: red; /*rood*/
}
#oranje {
  background-color: orange; /*oranje*/
}
#groen {
  background-color: green; /*groen*/
}
#aanknop {
  border: 5px;
}

#gewichtLabel {
  background-color: #83e851; /* groen */
  border: 5px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
#gerbootejaartal {
  background-color: #83e851; /* groen */
  border: 5px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
#lengtelabel {
  background-color: #83e851; /* groen */
  border: 5px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
#Genereer {
  background-color: #437ad3; /* blauw */
  border: 5px;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
